.vscode
*.code-workspace

/*/datapacks/better_survival
/*/datapacks/elevator

# Minecraft Stuff
eula.txt
logs
crash-reports
*cache*
*tmp*
*.dat_old
/libraries
/versions
/.console_history
/.fabric
/*/advancements/*.json
/**/data/*.dat
/**/entities/r.*.mca
/*/playerdata/*.dat*
/**/poi/r.*.mca
/*/stats/*.json
/**/region/r.*.mca
config/bStats
session.lock

/config/chunky/tasks/*/*properties
/config/pl3xmap/web/**/settings.json
/config/pl3xmap/web/**/pl3xmap_*.json
/config/pl3xmap/web/**/*.gz
/config/pl3xmap/web/**/*.png
/config/pl3xmap/web/**/.rms
/config/pl3xmap/web/*.js
/config/pl3xmap/web/*.html
/config/pl3xmap/web/*.css
/config/pl3xmap/web/*.map
/config/pl3xmap/web/favicon.*
/config/spark/activity.json
DistantHorizons.sqlite*
