.vscode
*.code-workspace

/*/datapacks/better_survival

# Minecraft Stuff
eula.txt
logs
crash-reports
*cache*
*tmp*
*.dat_old
/libraries
/versions
/.fabric
/*/advancements/*.json
/*/playerdata/*.dat*
/*/stats/*.json
config/bStats
session.lock

chunks.dat
raids*.dat
random_sequences.dat

/config/pl3xmap/web/**/*.gz
/config/pl3xmap/web/**/*.png
/config/pl3xmap/web/**/.rms
/config/pl3xmap/web/*.js
/config/pl3xmap/web/*.html
/config/pl3xmap/web/*.css
/config/pl3xmap/web/*.map
/config/pl3xmap/web/favicon.*
DistantHorizons.sqlite*
